@font-face {
  font-family: "PeacerfulDay";
  src: url("font/PeacerfulDay.ttf.woff") format("woff"), url("font/PeacerfulDay.ttf.svg#PeacerfulDay") format("svg"), url("font/PeacerfulDay.ttf.eot"), url("font/PeacerfulDay.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: auto;
  font-family: Helvetica;
}

a {
  text-decoration: none;
  color: #fdcb46;
}

.mentions {
  text-align: center;
  font-size: 3em;
  color: black;
}

.mentions__contact {
  color: #fdcb46;
  padding-left: 25px;
  padding-right: 25px;
}

@keyframes wiggle {
  10%, 90% {
    transform: rotate(5deg);
  }
  20%, 80% {
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    transform: rotate(10deg);
  }
  40%, 60% {
    transform: rotate(-5deg);
  }
}
.mentions__contact:hover {
  animation: wiggle 0.7s infinite;
}

@media screen and (max-width: 767px) {
  .mentions {
    font-size: 1.5em;
  }
}
header {
  display: flex;
  background: #579c87;
  color: #fdcb46;
  border-bottom: 2px solid #a1c181;
  justify-content: center;
  align-items: center;
}

.soon {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.suspension::after {
  animation: suspension steps(1, end) 1s infinite;
  content: "";
}

@keyframes suspension {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #579c87;
  color: #fdcb46;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  font-size: 1.5em;
}

.zoom__effect {
  transform: scale(1);
  transition: 0.7s;
  opacity: 1;
}

.zoom__effect:hover {
  transform: scale(1.3);
  transition: 0.7s;
  opacity: 0.6;
}

.bloc__menu--enchante--chic {
  margin: 50px 100px 25px 100px;
  display: flex;
  justify-content: center;
}

.bloc__menu--delice--palette {
  margin: 25px 100px 50px 100px;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 5em;
}

h2 {
  background-color: #579c87;
  border-radius: 15px;
  color: #fdcb46;
  font-size: 3em;
  font-weight: normal;
  padding: 20px 50px 20px 50px;
  width: 370px;
}

.bloc__menu--enchante {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 45%;
  height: 600px;
  margin-right: 25px;
  background-color: #fcdfdb;
  box-shadow: 0px 0px 12px #555;
  border: none;
  text-align: center;
}

.titre__image {
  font-family: "Devonshire";
  font-size: 2.5em;
  font-weight: normal;
  color: black;
}

.menu__enchante--titre {
  font-family: "Comic sans MS";
  font-size: 2.5em;
  color: black;
}

.bloc__menu--chic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 45%;
  height: 600px;
  background-color: #fff5fe;
  box-shadow: 0px 0px 12px #555;
  border: none;
  text-align: center;
}

.menu__titre--chic {
  font-family: "croissant one";
  font-size: 2em;
  background: -webkit-linear-gradient(-45deg, #da7624, #701ffe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__titre--menu--chic {
  font-family: "Georgia";
  font-size: 2.5em;
  font-weight: bold;
  color: #c77412;
}

.bloc__menu--delice {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 45%;
  height: 600px;
  margin-right: 25px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 12px #555;
  border: none;
  text-align: center;
}

.menu__titre--delice {
  font-family: "dancing script";
  font-size: 2.5em;
  background: -webkit-linear-gradient(-45deg, #0000d4, #1976f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__titre-menu--delice {
  font-family: "PeacerfulDay";
  font-style: italic;
  font-size: 2.5em;
  color: #0066f9;
}

.bloc__menu--palette {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 45%;
  height: 600px;
  background-color: #fdfffd;
  box-shadow: 0px 0px 12px #555;
  border: none;
  text-align: center;
}

.menu__titre--palette {
  font-family: "kaushan script";
  font-size: 2.5em;
  background: -webkit-linear-gradient(45deg, #3d843a, #b6ff75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__titre--menu--palette {
  font-family: "PeacerfulDay";
  font-style: italic;
  font-size: 2.5em;
  color: #53b02c;
}

@media screen and (max-width: 900px) {
  .bloc__menu--enchante--chic {
    margin: 50px 50px 25px 50px;
  }

  .bloc__menu--delice--palette {
    margin: 25px 50px 50px 50px;
  }
}
@media screen and (max-width: 700px) {
  .suspension {
    width: 170px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }

  .mentions__contact {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em;
  }

  .bloc__menu--enchante--chic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 10px 10px 10px;
  }

  .bloc__menu--delice--palette {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px 25px 10px;
  }

  .bloc__menu--enchante {
    width: 100%;
    height: 500px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .bloc__menu--chic {
    width: 100%;
    height: 500px;
  }

  .menu__titre--chic {
    font-size: 1.6em;
  }

  .bloc__menu--delice {
    width: 100%;
    height: 500px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .bloc__menu--palette {
    width: 100%;
    height: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
