.bloc__menu--enchante {
    @include bloc_menu_accueil;
    background-color: $backGroundColorEnchantee;
}

.titre__image {
    font-family: 'Devonshire';
    @include sizeTitle;
    font-weight: normal;
    color: $colorTitleEnchantee;
}

.menu__enchante--titre {
    font-family: 'Comic sans MS';
    @include sizeTitle;
    color: $colorTitleEnchantee;
}