.bloc__menu--enchante {
    @include bloc_menu_accueil;
    background-color: $backGroundColorEnchantee;
    .zoom__effect {
        transform: scale(1);
        transition: .7s;
        opacity: 1;
    }
    &:hover {
        .zoom__effect {
            transform: scale(1.15);
            transition: .7s;
            opacity: 0.6;
        }
    }
}

.titre__image {
    font-family: 'Devonshire';
    @include sizeTitle;
    font-weight: normal;
    color: $colorTitleEnchantee;
}

.menu__enchante--titre {
    font-family: 'Comic sans MS';
    @include sizeTitle;
    color: $colorTitleEnchantee;
}