.bloc__menu--palette {
    @include bloc_menu_accueil;
    background-color: $backGroundColorPalette;
}

.menu__titre--palette {
    font-family: "kaushan script";
    @include sizeTitle;
    background: -webkit-linear-gradient(45deg, #3d843a, #b6ff75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu__titre--menu--palette {
    font-family: 'PeacerfulDay';
    font-style: italic;
    @include sizeTitle;
    color: $colorTitlePalette;
}