.bloc__menu--delice {
    @include bloc_menu_accueil;
    background-color: $backGroundColorPapille;
    transform: scale(1);
    transition: .7s;
    opacity: 1;
    &:hover {
        transform: scale(1.05);
        transition: .7s;
        opacity: 0.6;
    }
}

.menu__titre--delice {
    font-family: "dancing script";
    @include sizeTitle;
    background: -webkit-linear-gradient(-45deg, #0000d4, #1976f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu__titre-menu--delice {
    font-family: 'PeacerfulDay';
    font-style: italic;
    @include sizeTitle;
    color: $colorTitlePapille;
}