.bloc__menu--chic {
    @include bloc_menu_accueil;
    background-color: $backGroundColorChic;
}

.menu__titre--chic {
    font-family: 'croissant one';
    @include sizeTitle;
    background: -webkit-linear-gradient(-45deg, #da7624, #701ffe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu__titre--menu--chic {
    font-family: "Georgia";
    @include sizeTitle;
    font-weight: bold;
    color: $colorTitleChic;
}