.bloc__menu--chic {
    @include bloc_menu_accueil;
    background-color: $backGroundColorChic;
    .zoom__effect {
        transform: scale(1);
        transition: .7s;
        opacity: 1;
    }
    &:hover {
        .zoom__effect {
            transform: scale(1.15);
            transition: .7s;
            opacity: 0.6;
        }
    }
}

.menu__titre--chic {
    font-family: 'croissant one';
    @include sizeTitle;
    background: -webkit-linear-gradient(-45deg, #da7624, #701ffe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu__titre--menu--chic {
    font-family: "Georgia";
    @include sizeTitle;
    font-weight: bold;
    color: $colorTitleChic;
}