    @media screen and (max-width: 900px) {
        .bloc__menu--enchante--chic {
            margin: 50px 50px 25px 50px;
        }
        .bloc__menu--delice--palette {
            margin: 25px 50px 50px 50px;
        }
        .titre__image,
        .menu__enchante--titre,
        .menu__titre--chic,
        .menu__titre--menu--chic,
        .menu__titre--delice,
        .menu__titre-menu--delice,
        .menu__titre--palette,
        .menu__titre--menu--palette {
            font-size: 2em;
        }
    }
    
    @media screen and (max-width: 700px) {
        .soon {
            width: 250px;
        }
        .container {
            display: flex;
            flex-direction: column;
        }
        .bloc__menu--enchante--chic {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px 10px 10px 10px;
        }
        .bloc__menu--delice--palette {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px 10px 25px 10px;
        }
        .bloc__menu--enchante,
        .bloc__menu--delice {
            @include bloc__menu--responsive;
            margin-bottom: 10px;
        }
        .bloc__menu--chic,
        .bloc__menu--palette--accueil {
            @include bloc__menu--responsive;
        }
    }