/* -----------------------------Fichier @import variables-------------------------- */
/* ----------------------VARIABLES FONT-FACE-------------------------*/
/* ----------------------VARIABLES COULEURS-------------------------*/
/* -----------------------------MIXIN------------------------------*/
/* -----------------------------Fichier @import pour toutes les pages-------------------------- */
@font-face {
  font-family: "PeacerfulDay";
  src: url("font/PeacerfulDay.ttf.woff") format("woff"), url("font/PeacerfulDay.ttf.svg#PeacerfulDay") format("svg"), url("font/PeacerfulDay.ttf.eot"), url("font/PeacerfulDay.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: auto;
  font-family: Helvetica;
}
body a {
  text-decoration: none;
  color: #fdcb46;
}

.mentions {
  text-align: center;
  font-size: 3em;
  color: black;
}

.mentions__contact {
  color: #fdcb46;
  padding-left: 25px;
  padding-right: 25px;
}
.mentions__contact:hover {
  animation: wiggle 0.7s infinite;
}

@keyframes wiggle {
  10%, 90% {
    transform: rotate(5deg);
  }
  20%, 80% {
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    transform: rotate(10deg);
  }
  40%, 60% {
    transform: rotate(-5deg);
  }
}
/* --------------------------------------Responsive----------------------------- */
@media screen and (max-width: 767px) {
  .mentions {
    font-size: 1.5em;
  }
}
header {
  display: flex;
  background: #579c87;
  color: #fdcb46;
  border-bottom: 2px solid #a1c181;
  justify-content: center;
  align-items: center;
}

.soon {
  display: flex;
  background-color: #579c87;
  border-radius: 15px;
  color: #fdcb46;
  width: 370px;
  margin-bottom: 100px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.point1 {
  animation: ellipsis infinite;
  animation-duration: 1000ms;
  animation-delay: 1s;
}

.point2 {
  animation: ellipsis infinite;
  animation-duration: 1000ms;
  animation-delay: 1.1s;
}

.point3 {
  animation: ellipsis infinite;
  animation-duration: 1000ms;
  animation-delay: 1.2s;
}

@keyframes ellipsis {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #579c87;
  color: #fdcb46;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  font-size: 1.5em;
}

/* -----------------------------Fichier @import pour la page d'accueil-------------------------- */
.zoom__effect {
  transform: scale(1);
  transition: 0.7s;
  opacity: 1;
}

.zoom__effect:hover {
  transform: scale(1.3);
  transition: 0.7s;
  opacity: 0.6;
}

.bloc__menu--enchante--chic {
  margin: 50px 100px 25px 100px;
  display: flex;
  justify-content: center;
}

.bloc__menu--delice--palette {
  margin: 25px 100px 50px 100px;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 5em;
}

h2 {
  text-align: center;
  font-weight: inherit;
  font-size: 2.3em;
}

.bloc__menu--enchante {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 45%;
  height: 600px;
  margin-right: 25px;
  box-shadow: 0px 0px 12px #555;
  border: none;
  text-align: center;
  background-color: #fcdfdb;
}

.titre__image {
  font-family: "Devonshire";
  font-size: 2.3em;
  font-weight: normal;
  color: black;
}

.menu__enchante--titre {
  font-family: "Comic sans MS";
  font-size: 2.3em;
  color: black;
}

.bloc__menu--chic {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 45%;
  height: 600px;
  margin-right: 25px;
  box-shadow: 0px 0px 12px #555;
  border: none;
  text-align: center;
  background-color: #fff5fe;
}

.menu__titre--chic {
  font-family: "croissant one";
  font-size: 2.3em;
  background: -webkit-linear-gradient(-45deg, #da7624, #701ffe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__titre--menu--chic {
  font-family: "Georgia";
  font-size: 2.3em;
  font-weight: bold;
  color: #c77412;
}

.bloc__menu--delice {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 45%;
  height: 600px;
  margin-right: 25px;
  box-shadow: 0px 0px 12px #555;
  border: none;
  text-align: center;
  background-color: #f9f9f9;
}

.menu__titre--delice {
  font-family: "dancing script";
  font-size: 2.3em;
  background: -webkit-linear-gradient(-45deg, #0000d4, #1976f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__titre-menu--delice {
  font-family: "PeacerfulDay";
  font-style: italic;
  font-size: 2.3em;
  color: #0066f9;
}

.bloc__menu--palette--accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 45%;
  height: 600px;
  margin-right: 25px;
  box-shadow: 0px 0px 12px #555;
  border: none;
  text-align: center;
  background-color: #fdfffd;
}

.menu__titre--palette {
  font-family: "kaushan script";
  font-size: 2.3em;
  background: -webkit-linear-gradient(45deg, #3d843a, #b6ff75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu__titre--menu--palette {
  font-family: "PeacerfulDay";
  font-style: italic;
  font-size: 2.3em;
  color: #53b02c;
}

@media screen and (max-width: 900px) {
  .bloc__menu--enchante--chic {
    margin: 50px 50px 25px 50px;
  }

  .bloc__menu--delice--palette {
    margin: 25px 50px 50px 50px;
  }

  .titre__image,
.menu__enchante--titre,
.menu__titre--chic,
.menu__titre--menu--chic,
.menu__titre--delice,
.menu__titre-menu--delice,
.menu__titre--palette,
.menu__titre--menu--palette {
    font-size: 2em;
  }
}
@media screen and (max-width: 700px) {
  .soon {
    width: 250px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .bloc__menu--enchante--chic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 10px 10px;
  }

  .bloc__menu--delice--palette {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px 25px 10px;
  }

  .bloc__menu--enchante,
.bloc__menu--delice {
    width: 100%;
    height: 500px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .bloc__menu--chic,
.bloc__menu--palette--accueil {
    width: 100%;
    height: 500px;
    margin-right: 0px;
  }
}
/* -----------------------------Fichier @import pour les menus-------------------------- */
.bloc__enchante {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 12px #555;
  text-align: left;
  padding: 0px 50px 50px 50px;
  background-color: #fcdfdb;
}
.bloc__enchante .image__enchantee {
  text-align: center;
  font-size: 2.3em;
  font-family: "Devonshire", cursive;
}
.bloc__enchante .bloc__titre--entree {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}
.bloc__enchante .trait__image {
  width: 30%;
}
.bloc__enchante .bloc__tous--les--menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}
.bloc__enchante .bloc__info--prix--enchante {
  display: flex;
  font-family: "Kalam", cursive;
}
.bloc__enchante .titre__entree--enchante {
  font-family: "Kalam", cursive;
  background: linear-gradient(to top, black 0%, black 3px, transparent 1px) no-repeat;
  text-align: center;
  margin: 0px 10px 0px 10px;
  padding-bottom: 10px;
  background-size: 0 100%;
  transition: background-size 0.5s;
  margin-left: auto;
  margin-right: auto;
}
.bloc__enchante .titre__entree--enchante:hover {
  background-size: 100% 100%;
}
.bloc__enchante .bloc__info--enchante {
  flex: 90;
  font-family: "Kalam", cursive;
  font-size: 15px;
}
.bloc__enchante .bloc__prix--enchante {
  flex: 10;
  text-align: right;
  font-weight: bold;
}
.bloc__enchante .image__menu--bottom {
  padding-top: 20px;
  font-size: 2.3em;
  font-family: "Devonshire", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -----------------------------------------------------------RESPONSIVE--------------------------------------------------- */
@media screen and (max-width: 767px) {
  .mentions__contact {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8em;
  }

  .note__musique {
    width: 60px;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.3em;
  }

  .bloc__info--prix--enchante {
    flex-direction: column;
    align-items: center;
  }

  .bloc__enchante {
    width: 90%;
    padding: 0px 10px 0px 10px;
  }
  .bloc__enchante .bloc__info--enchante {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
  }
  .bloc__enchante .bloc__prix--enchante {
    font-size: 15px;
  }
}
.bloc__titre--entree {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

.trait__image {
  width: 30%;
}

.bloc__tous--les--menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.bloc__chic {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 12px #555;
  text-align: left;
  padding: 0px 10px 80px 10px;
  background-color: #fff5fe;
}

.bloc__titre--menu--chic {
  text-align: center;
  margin: 100px 0px 50px 0px;
  font-size: 2.3em;
  font-family: "Croissant One", cursive;
  background: -webkit-linear-gradient(-45deg, #d76a00, #6f1bfe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titre__entree--chic {
  color: #b86011;
  font-family: "Georgia";
  font-size: 1.3em;
  background: linear-gradient(to top, #b86011 0%, #b86011 3px, transparent 1px) no-repeat;
  text-align: center;
  margin: 0px 10px 0px 10px;
  padding-bottom: 10px;
  background-size: 0 100%;
  transition: background-size 0.5s;
  margin-left: auto;
  margin-right: auto;
}
.titre__entree--chic:hover {
  background-size: 100% 100%;
}

.bloc__info--prix--chic--entree {
  display: flex;
  font-family: "Georgia";
  color: #b86011;
  margin: 0px 50px 0px 50px;
}
.bloc__info--prix--chic--entree .info__chic {
  flex: 90;
  font-family: "Georgia";
  font-size: 15px;
}
.bloc__info--prix--chic--entree .prix__chic {
  flex: 10;
  text-align: right;
}

.titre__plat--chic {
  color: #935087;
  font-family: "Georgia";
  background: linear-gradient(to top, #935087 0%, #935087 3px, transparent 1px) no-repeat;
  text-align: center;
  margin: 0px 10px 0px 10px;
  padding-bottom: 10px;
  background-size: 0 100%;
  transition: background-size 0.5s;
  margin-left: auto;
  margin-right: auto;
}
.titre__plat--chic:hover {
  background-size: 100% 100%;
}

.bloc__info--prix--chic--plat {
  display: flex;
  color: #935087;
  font-family: "Georgia";
  margin: 0px 50px 0px 50px;
}

.titre__dessert--chic {
  color: #5a32c0;
  font-family: "Georgia";
  background: linear-gradient(to top, #5a32c0 0%, #5a32c0 3px, transparent 1px) no-repeat;
  text-align: center;
  margin: 0px 10px 0px 10px;
  padding-bottom: 10px;
  background-size: 0 100%;
  transition: background-size 0.5s;
  margin-left: auto;
  margin-right: auto;
}
.titre__dessert--chic:hover {
  background-size: 100% 100%;
}

.info__chic--dessert {
  flex: 90;
  font-family: "Georgia";
  color: #5a32c0;
  font-size: 15px;
  margin-left: 50px;
}

/* -----------------------------------------------------------RESPONSIVE--------------------------------------------------- */
@media screen and (max-width: 767px) {
  .bloc__chic {
    width: 90%;
    padding: 0px 10px 60px 10px;
  }

  .bloc__titre--menu--chic {
    font-size: 1.3em;
  }

  .titre__entree--chic,
.titre__plat--chic,
.titre__dessert--chic {
    font-size: 15px;
  }

  .bloc__info--prix--chic--entree,
.bloc__info--prix--chic--plat,
.info__chic--dessert {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .info__chic {
    margin-bottom: 10px;
    font-size: 15px;
  }

  .prix__chic {
    font-size: 15px;
    margin-top: 0px;
  }

  .info__chic--dessert {
    margin-left: 0px;
    font-size: 15px;
  }
}
.bloc__titre--entree {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

.trait__image {
  width: 30%;
}

.bloc__tous--les--menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.bloc_delice {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 12px #555;
  text-align: left;
  padding: 0px 10px 80px 10px;
  background-color: #f9f9f9;
}

.bloc__titre--menu--delice {
  text-align: center;
  font-size: 2.3em;
  margin: 50px 0px 20px 0px;
  font-family: "Dancing Script", cursive;
  background: -webkit-linear-gradient(-45deg, #0000d4, #1976f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titre__entree--delice {
  color: black;
  margin: 0px 10px 0px 10px;
  font-family: "Kalam", cursive;
  background: linear-gradient(to top, #0000d3 0%, #0000d3 3px, transparent 1px) no-repeat;
  text-align: center;
  margin: 0px 10px 0px 10px;
  padding-bottom: 10px;
  background-size: 0 100%;
  transition: background-size 0.5s;
  margin-left: auto;
  margin-right: auto;
}
.titre__entree--delice:hover {
  background-size: 100% 100%;
}

.titre__plat--delice {
  color: black;
  margin: 0px 10px 0px 10px;
  font-family: "Kalam", cursive;
  background: linear-gradient(to top, #0f56ef 0%, #0f56ef 3px, transparent 1px) no-repeat;
  text-align: center;
  margin: 0px 10px 0px 10px;
  padding-bottom: 10px;
  background-size: 0 100%;
  transition: background-size 0.5s;
  margin-left: auto;
  margin-right: auto;
}
.titre__plat--delice:hover {
  background-size: 100% 100%;
}

.titre__dessert--delice {
  color: black;
  margin: 0px 10px 0px 10px;
  font-family: "Kalam", cursive;
  background: linear-gradient(to top, #2089f7 0%, #2089f7 3px, transparent 1px) no-repeat;
  text-align: center;
  margin: 0px 10px 0px 10px;
  padding-bottom: 10px;
  background-size: 0 100%;
  transition: background-size 0.5s;
  margin-left: auto;
  margin-right: auto;
}
.titre__dessert--delice:hover {
  background-size: 100% 100%;
}

.bloc__info--prix--delice {
  display: flex;
  margin: 0px 50px 0px 50px;
  color: black;
}

.info__delice {
  font-family: "Kalam", cursive;
  font-size: 15px;
}

.prix__delice {
  font-family: "Kalam", cursive;
  font-weight: bold;
  flex: 10;
  text-align: right;
}

/* -----------------------------------------------------------RESPONSIVE--------------------------------------------------- */
@media screen and (max-width: 767px) {
  .bloc_delice {
    width: 90%;
    padding: 0px 10px 60px 10px;
  }

  .bloc__titre--menu--delice {
    font-size: 2.3em;
  }

  .titre__entree--delice,
.titre__plat--delice,
.titre__dessert--delice {
    font-size: 1.3em;
  }

  .bloc__info--prix--delice {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    text-align: center;
  }
  .bloc__info--prix--delice .prix__delice {
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
  }
}
.bloc__titre--entree {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

.trait__image {
  width: 30%;
}

.bloc__tous--les--menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.bloc_palette {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 12px #555;
  text-align: left;
  padding: 0px 50px 150px 50px;
  background-color: #fdfffd;
}

.bloc__titre--menu--palette {
  text-align: center;
  font-size: 2.3em;
  margin: 50px;
  font-family: "Kaushan Script", cursive;
  background: -webkit-linear-gradient(45deg, #3d843a, #b6ff75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc__menu--palette {
  color: black;
  font-family: "Kalam", cursive;
  margin: 0px 10px 0px 10px;
  font-weight: normal;
  background: linear-gradient(to top, #70c44c 0%, #70c44c 3px, transparent 1px) no-repeat;
  text-align: center;
  margin: 0px 10px 0px 10px;
  padding-bottom: 10px;
  background-size: 0 100%;
  transition: background-size 0.5s;
  margin-left: auto;
  margin-right: auto;
}
.bloc__menu--palette:hover {
  background-size: 100% 100%;
}

.bloc__info--prix--palette {
  display: flex;
  margin: 0px 50px 0px 50px;
  color: black;
}

.info__palette {
  font-family: "Kalam", cursive;
  font-size: 15px;
}

.prix__palette {
  font-family: "Kalam", cursive;
  font-weight: bold;
  flex: 10;
  text-align: right;
}

/* -----------------------------------------------------------RESPONSIVE--------------------------------------------------- */
@media screen and (max-width: 767px) {
  .bloc_palette {
    width: 90%;
    padding: 0px 10px 60px 10px;
  }

  .bloc__titre--menu--palette {
    font-size: 1.3em;
  }

  .bloc__info--prix--palette {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .bloc__info--prix--palette .info__palette {
    font-size: 15px;
    margin-bottom: 0px;
  }
  .bloc__info--prix--palette .prix__palette {
    text-align: center;
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
