    /* -----------------------------------------------------------------PAGE--------------------------------------------------------- */
    
    body {
        margin: auto;
        font-family: Helvetica;
    }
    
    a {
        text-decoration: none;
    }
    /* -----------------------------------------------------------CORPS DE LA PAGE--------------------------------------------------- */
    
    header {
        display: flex;
        background: #579c87;
        color: #fdcb46;
        border-bottom: 2px solid #a1c181;
        justify-content: center;
        align-items: center;
    }
    
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 200px;
    }
    
    .mentions__contact {
        color: #fdcb46;
        text-decoration: none;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    @keyframes wiggle {
        10%,
        90% {
            transform: rotate(5deg);
        }
        20%,
        80% {
            transform: rotate(-10deg);
        }
        30%,
        50%,
        70% {
            transform: rotate(10deg);
        }
        40%,
        60% {
            transform: rotate(-5deg);
        }
    }
    
    .mentions__contact:hover {
        animation: wiggle 0.7s infinite;
    }
    
    footer {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #579c87;
        color: #fdcb46;
        justify-content: space-between;
        padding: 20px 0px 20px 0px;
        font-size: 1.5em;
    }
    /* -----------------------------------------------------------TOUS LES MENUS ET TITRES--------------------------------------------------- */
    
    .bloc__titre--entree {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    
    h1 {
        font-size: 5em;
        text-decoration: none;
        color: #fdcb46;
    }
    
    h2 {
        text-align: center;
        margin-top: 2em;
        font-size: 2em;
    }
    
    .trait__image {
        width: 35%;
    }
    /* -----------------------------------------------------------MENU 1--------------------------------------------------- */
    
    .bloc__enchante {
        display: flex;
        flex-direction: column;
        padding: 0px 50px 50px 50px;
        background-color: #fcdfdb;
        box-shadow: 0px 0px 12px #555;
        text-align: left;
    }
    
    figure {
        text-align: center;
        font-size: 3em;
        font-family: 'Devonshire', cursive;
    }
    
    .titre__entree--enchante {
        text-align: center;
        margin: 0px 10px 0px 10px;
        font-family: 'Kalam', cursive;
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 3px, transparent 1px) no-repeat;
        background-size: 0 100%;
        transition: background-size .3s;
        width: 30%;
    }
    
    .titre__entree--enchante:hover {
        background-size: 100% 100%;
    }
    
    .bloc__info--prix--enchante {
        display: flex;
        font-family: 'Kalam', cursive;
    }
    
    .bloc__info--enchante {
        flex: 90;
        font-family: 'Kalam', cursive;
        font-size: 15px;
    }
    
    .bloc__prix--enchante {
        flex: 10;
        text-align: right;
        font-weight: bold;
    }
    
    .image__menu--bottom {
        padding-top: 20px;
        font-size: 2em;
        font-family: 'Devonshire', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* -----------------------------------------------------------MENU 2--------------------------------------------------- */
    
    .bloc__chic {
        display: flex;
        flex-direction: column;
        padding: 0px 10px 80px 10px;
        background-color: #fff2fe;
        box-shadow: 0px 0px 12px #555;
        text-align: left;
    }
    
    .bloc__titre--menu--chic {
        text-align: center;
        font-size: 3em;
        margin: 100px 0px 50px 0px;
        font-family: 'Croissant One', cursive;
        background: -webkit-linear-gradient(-45deg, #d76a00, #6f1bfe);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .titre__entree--chic {
        color: #b86011;
        font-family: 'Georgia';
        background: linear-gradient(to top, rgba(184, 96, 17) 0%, rgba(184, 96, 17) 3px, transparent 1px) no-repeat;
        background-size: 0 100%;
        transition: background-size .3s;
        width: 40%;
        padding: 10px;
    }
    
    .titre__entree--chic:hover {
        background-size: 100% 100%;
    }
    
    .bloc__info--prix--chic--entree {
        display: flex;
        font-family: 'Georgia';
        color: #b86011;
        margin: 0px 50px 0px 50px;
    }
    
    .info__chic {
        flex: 90;
        font-family: 'Georgia';
        font-size: 15px;
    }
    
    .prix__chic {
        flex: 10;
        text-align: right;
    }
    
    .titre__plat--chic {
        color: #935087;
        font-family: 'Georgia';
        background: linear-gradient(to top, rgb(147, 80, 135) 0%, rgb(147, 80, 135) 3px, transparent 1px) no-repeat;
        background-size: 0 100%;
        transition: background-size .3s;
        width: 40%;
        padding: 10px;
    }
    
    .titre__plat--chic:hover {
        background-size: 100% 100%;
    }
    
    .bloc__info--prix--chic--plat {
        display: flex;
        color: #935087;
        font-family: 'Georgia';
        margin: 0px 50px 0px 50px;
    }
    
    .titre__dessert--chic {
        color: #5a32c0;
        font-family: 'Georgia';
        background: linear-gradient(to top, rgb(90, 50, 192) 0%, rgb(90, 50, 192) 3px, transparent 1px) no-repeat;
        background-size: 0 100%;
        transition: background-size .3s;
        width: 40%;
        padding: 10px;
    }
    
    .titre__dessert--chic:hover {
        background-size: 100% 100%;
    }
    
    .info__chic--dessert {
        flex: 90;
        font-family: 'Georgia';
        color: #5a32c0;
        font-size: 15px;
        margin-left: 50px;
    }
    /* -----------------------------------------------------------MENU 3--------------------------------------------------- */
    
    .bloc_delice {
        display: flex;
        flex-direction: column;
        padding: 0px 10px 80px 10px;
        background-color: #e8ebeb;
        box-shadow: 0px 0px 12px #555;
        text-align: left;
    }
    
    .bloc__titre--menu--delice {
        text-align: center;
        font-size: 3em;
        margin: 50px 0px 20px 0px;
        font-family: 'Dancing Script', cursive;
        background: -webkit-linear-gradient(-45deg, #0000d4, #1976f9);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .titre__entree--delice {
        color: black;
        margin: 0px 10px 0px 10px;
        font-family: 'Kalam', cursive;
        background: linear-gradient(to top, rgb(0, 0, 211) 0%, rgb(0, 0, 211) 3px, transparent 1px) no-repeat;
        background-size: 0 100%;
        transition: background-size .3s;
        width: 30%;
    }
    
    .titre__entree--delice:hover {
        background-size: 100% 100%;
    }
    
    .titre__plat--delice {
        color: black;
        margin: 0px 10px 0px 10px;
        font-family: 'Kalam', cursive;
        background: linear-gradient(to top, rgb(15, 86, 239) 0%, rgb(15, 86, 239) 3px, transparent 1px) no-repeat;
        background-size: 0 100%;
        transition: background-size .3s;
        width: 30%;
    }
    
    .titre__plat--delice:hover {
        background-size: 100% 100%;
    }
    
    .titre__dessert--delice {
        color: black;
        margin: 0px 10px 0px 10px;
        font-family: 'Kalam', cursive;
        background: linear-gradient(to top, rgb(32, 137, 247) 0%, rgb(32, 137, 247) 3px, transparent 1px) no-repeat;
        background-size: 0 100%;
        transition: background-size .3s;
        width: 30%;
    }
    
    .titre__dessert--delice:hover {
        background-size: 100% 100%;
    }
    
    .bloc__info--prix--delice {
        display: flex;
        margin: 0px 50px 0px 50px;
        color: black;
    }
    
    .info__delice {
        font-family: 'Kalam', cursive;
        font-size: 15px;
    }
    
    .prix__delice {
        font-family: 'Kalam', cursive;
        font-weight: bold;
        flex: 10;
        text-align: right;
    }
    /* -----------------------------------------------------------MENU 4--------------------------------------------------- */
    
    .bloc_palette {
        display: flex;
        flex-direction: column;
        padding: 0px 50px 150px 50px;
        background-color: #fcfffc;
        box-shadow: 0px 0px 12px #555;
        text-align: left;
    }
    
    .bloc__titre--menu--palette {
        text-align: center;
        font-size: 3em;
        margin: 50px;
        font-family: 'Kaushan Script', cursive;
        background: -webkit-linear-gradient(45deg, #3d843a, #b6ff75);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .bloc__menu--palette {
        color: black;
        margin: 0px 10px 0px 10px;
        padding-bottom: 10px;
        font-weight: normal;
        background: linear-gradient(to top, rgb(112, 196, 76) 0%, rgb(112, 196, 76) 3px, transparent 1px) no-repeat;
        background-size: 0 100%;
        transition: background-size .3s;
        width: 30%;
        font-family: 'Kalam', cursive;
    }
    
    .bloc__menu--palette:hover {
        background-size: 100% 100%;
    }
    
    .bloc__info--prix--palette {
        display: flex;
        margin: 0px 50px 0px 50px;
        color: black;
    }
    
    .info__palette {
        font-family: 'Kalam', cursive;
        font-size: 15px;
    }
    
    .prix__palette {
        font-family: 'Kalam', cursive;
        font-weight: bold;
        flex: 10;
        text-align: right;
    }
    /* -----------------------------------------------------------RESPONSIVE MENU 1--------------------------------------------------- */
    
    @media screen and (max-width: 767px) {
        .mentions__contact {
            padding-left: 5px;
            padding-right: 5px;
            font-size: 0.8em;
        }
        img {
            width: 100px;
        }
        .trait__image {
            width: 35%;
        }
        .note__musique {
            width: 60px;
        }
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 1.5em;
        }
        h3 {
            font-size: 1em;
        }
        figure {
            font-size: 1.5em;
        }
        .bloc__info--prix--enchante {
            flex-direction: column;
            align-items: center;
        }
        .bloc__enchante {
            width: 90%;
            padding: 0px 10px 0px 10px;
        }
        .bloc__info--enchante {
            font-size: 14px;
            text-align: center;
            margin-bottom: 0px;
        }
        .bloc__prix--enchante {
            font-size: 14px;
        }
        .image__menu--bottom {
            font-size: 1.5em;
        }
        .bloc__titre--entree {
            margin: 10px 0px 10px 0px;
        }
    }
    /* -----------------------------------------------------------RESPONSIVE MENU 2--------------------------------------------------- */
    
    @media screen and (max-width: 767px) {
        .bloc__chic {
            width: 90%;
            padding: 0px 10px 60px 10px;
        }
        .bloc__titre--menu--chic {
            font-size: 1.5em;
        }
        .titre__entree--chic {
            font-size: 0.8em;
        }
        .titre__plat--chic {
            font-size: 0.8em;
        }
        .titre__dessert--chic {
            font-size: 0.8em;
        }
        .bloc__info--prix--chic--entree {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .bloc__info--prix--chic--plat {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .info__chic--dessert {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .info__chic {
            margin-bottom: 10px;
            font-size: 12px;
        }
        .prix__chic {
            font-size: 13px;
            margin-top: 0px;
        }
        .info__chic--dessert {
            margin-left: 0px;
            font-size: 12px;
        }
    }
    /* -----------------------------------------------------------RESPONSIVE MENU 3--------------------------------------------------- */
    
    @media screen and (max-width: 767px) {
        .bloc_delice {
            width: 90%;
            padding: 0px 10px 60px 10px;
        }
        .bloc__titre--menu--delice {
            font-size: 2em;
        }
        .titre__entree--delice {
            font-size: 1em;
        }
        .titre__plat--delice {
            font-size: 1em;
        }
        .titre__dessert--delice {
            font-size: 1em;
        }
        .bloc__info--prix--delice {
            display: flex;
            flex-direction: column;
            font-size: 12px;
            text-align: center;
            margin-bottom: 15px;
        }
        .prix__delice {
            text-align: center;
            font-size: 13px;
            margin-top: 0px;
        }
    }
    /* -----------------------------------------------------------RESPONSIVE MENU 4--------------------------------------------------- */
    
    @media screen and (max-width: 767px) {
        .bloc_palette {
            width: 90%;
            padding: 0px 10px 60px 10px;
        }
        .bloc__titre--menu--palette {
            font-size: 1.5em;
        }
        .bloc__menu--palette {
            font-size: 1em;
        }
        .bloc__info--prix--palette {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 15px;
        }
        .info__palette {
            font-size: 15px;
            margin-bottom: 0px;
        }
        .prix__palette {
            text-align: center;
            font-size: 15px;
        }
    }