@include blocAllMenus;
.bloc_palette {
    @include bloc__info--menu;
    padding: 0px 50px 150px 50px;
    background-color: $backGroundColorPalette;
}

.bloc__titre--menu--palette {
    text-align: center;
    @include sizeTitle;
    margin: 50px;
    @include policePaletteTitre;
    background: -webkit-linear-gradient(45deg, #3d843a, #b6ff75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bloc__menu--palette {
    color: $colorTitreDelice;
    @include policeEnchantee;
    margin: 0px 10px 0px 10px;
    font-weight: normal;
    background: linear-gradient(to top, rgb(112, 196, 76) 0%, rgb(112, 196, 76) 3px, transparent 1px) no-repeat;
    @include bloc__menu;
}

.bloc__info--prix--palette {
    display: flex;
    margin: 0px 50px 0px 50px;
    color: $colorTitreDelice;
}

.info__palette {
    @include policeEnchantee;
    @include sizeText;
}

.prix__palette {
    @include policeEnchantee;
    font-weight: bold;
    flex: 10;
    text-align: right;
}


/* -----------------------------------------------------------RESPONSIVE--------------------------------------------------- */

@media screen and (max-width: 767px) {
    .bloc_palette {
        width: 90%;
        padding: 0px 10px 60px 10px;
    }
    .bloc__titre--menu--palette {
        @include sizeTitleMenu;
    }
    .bloc__info--prix--palette {
        display: flex;
        flex-direction: column;
        text-align: center;
        .info__palette {
            @include sizeText;
            margin-bottom: 0px;
        }
        .prix__palette {
            text-align: center;
            @include sizeText;
        }
    }
}