.bloc__enchante {
    @include bloc__info--menu;
    padding: 0px 50px 50px 50px;
    background-color: $backGroundColorEnchantee;
    .image__enchantee {
        text-align: center;
        @include sizeTitle;
        @include policeEnchanteeTitre;
    }
    @include blocAllMenus;
    .bloc__info--prix--enchante {
        display: flex;
        @include policeEnchantee;
    }
    .titre__entree--enchante {
        @include policeEnchantee;
        background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 3px, transparent 1px) no-repeat;
        @include bloc__menu;
    }
    .bloc__info--enchante {
        flex: 90;
        @include policeEnchantee;
        @include sizeText;
    }
    .bloc__prix--enchante {
        flex: 10;
        text-align: right;
        font-weight: bold;
    }
    .image__menu--bottom {
        padding-top: 20px;
        @include sizeTitle;
        @include policeEnchanteeTitre;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* -----------------------------------------------------------RESPONSIVE--------------------------------------------------- */

@media screen and (max-width: 767px) {
    .mentions__contact {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 0.8em;
    }
    .note__musique {
        width: 60px;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        @include sizeTitleMenu;
    }
    .bloc__info--prix--enchante {
        flex-direction: column;
        align-items: center;
    }
    .bloc__enchante {
        width: 90%;
        padding: 0px 10px 0px 10px;
        .bloc__info--enchante {
            @include sizeText;
            text-align: center;
            margin-bottom: 0px;
        }
        .bloc__prix--enchante {
            @include sizeText;
        }
    }
}