@font-face {
    font-family: 'PeacerfulDay';
    src: url('font/PeacerfulDay.ttf.woff') format('woff'), url('font/PeacerfulDay.ttf.svg#PeacerfulDay') format('svg'), url('font/PeacerfulDay.ttf.eot'), url('font/PeacerfulDay.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}