.mentions {
    text-align: center;
    font-size: 3em;
    color: black;
}

.mentions__contact {
    color: $colorPrimary;
    padding-left: 25px;
    padding-right: 25px;
    &:hover {
        animation: wiggle 0.7s infinite;
    }
}

@keyframes wiggle {
    10%,
    90% {
        transform: rotate(5deg);
    }
    20%,
    80% {
        transform: rotate(-10deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }
    40%,
    60% {
        transform: rotate(-5deg);
    }
}


/* --------------------------------------Responsive----------------------------- */

@media screen and (max-width: 767px) {
    .mentions {
        font-size: 1.5em;
    }
}