.soon {
    display: flex;
    background-color: $backGroundColorHeaderFooter;
    border-radius: 15px;
    color: $colorPrimary;
    width: 370px;
    margin-bottom: 100px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.point1 {
    @include ellipsis;
    animation-delay: 1s;
}

.point2 {
    @include ellipsis;
    animation-delay: 1.1s;
}

.point3 {
    @include ellipsis;
    animation-delay: 1.2s;
}

@keyframes ellipsis {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $backGroundColorHeaderFooter;
    color: $colorPrimary;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    font-size: 1.5em;
}